<div class="container">
    <header>Test Password Strength</header>
    <form action="#">
        <div class="field">
            <input type="text" placeholder="Type password" #myInput (input)="changeHandler(myInput.value)" [value]="password">
            <span class="showBtn" alt="Clear the">&times;</span>
        </div>
        <div class="indicator">
            <span [ngStyle]="{backgroundColor: span1}"></span>
            <span [ngStyle]="{backgroundColor: span2}"></span>
            <span [ngStyle]="{backgroundColor: span3}"></span>
        </div>
    </form>
</div>